.header__logo {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 142px;
  width: 100%;
}
@media  screen and (max-width: 1280px) {
  .header__logo{
    max-width: calc( (100vw - 320px)/(1280 - 320) * (142 - 103.74) + 103.74px);
  }
}
@media screen and (max-width: 979px) {
  .header__logo {
    padding-left: 8px;
    /* max-width: 103.74px; */
  }
}
