.popup__title {
  color: black;
  margin: 0;
  padding: 34px 0 48px 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width: 600px) {
    .popup__title {
        padding-top: 26px;
        padding-bottom: 74px;
        font-size: 18px;
        line-height: 22px;
      }
}
