.content-user__item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 42px;
  grid-template-rows: minmax(282px, 1fr) 79px;
  grid-template-areas:
    "image image"
    "title like";
  align-items: center;
  position: relative;
}
