.form__fieldset-input {
  width: 100%;
  border: 0;
  padding: 0 0 13px 0;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__fieldset-input:focus {
  outline: none;
}
.form__fieldset-input:nth-child(2) {
  margin-bottom: 0px;
}
.form__fieldset-input::placeholder {
  color: #ccc;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
